//
// These are the base Foundation
// SASS settings for WordCampus.
//
// These settings will override the default
// Foundation SASS settings.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include Foundation settings to reuse them
@import '../../../foundation/scss/foundation/_settings';

// Set the row width - this includes side padding
$row-width: 920px;

// Widen the column gutter to 40px - default is 30
$column-gutter: 40px;

// COLORS
// We use these as default colors throughout
$body-bg: #eff4f5;
$primary-color: #900;
$black: #000;
$white: #fff;

// FONTS
$open_sans: 'Open Sans', sans-serif;

// Set the base font
$font-family-sans-serif: $open_sans !default;
$body-font-family: $font-family-sans-serif !default;
$body-font-color: #222;

// Links (Anchors)
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

// Paragraphs
$paragraph-line-height: 1.8;