//
// These are the base Foundation
// SASS settings for WPCampus.
//
// These settings will override the default
// Foundation SASS settings.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include Foundation settings to reuse them
@import '../../../foundation/scss/foundation/_settings';

// Set the row width - this includes side padding
$row-width: 920px;

// Widen the column gutter to 40px - default is 30
$column-gutter: 40px;

// COLORS
// We use these as default colors throughout
$royal-blue: #1159bd;
$dark-blue: #2e3641;
$peach: #d0443c;
$body-bg: #fafafa; //#eff4f5;
$primary-color: $royal-blue;

// FONTS
$open_sans: 'Open Sans', sans-serif;

// Set the base font
$font-family-sans-serif: $open_sans !default;
$body-font-family: $font-family-sans-serif !default;
$body-font-color: #222;

// Banner
$wpc-banner-bg-color: #222;
$wpc-banner-height: 40px;

// Headers
$h1-font-size: rem-calc(38); // Bring down to 2.375rem

// Links (Anchors)
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

// Paragraphs
$paragraph-line-height: 1.8;
$paragraph-margin-bottom: rem-calc(20);

// Lists
$list-side-margin: 2.3em;
$list-ordered-side-margin: 2.5em;

// Panels
$panel-border-size: 0;

// Breadcrumbs
$crumb-border-size: 0;
$crumb-padding: 0;

// Footer
$wpc-footer-opacity: 0.65;
$wpc-footer-opacity-hover: 0.8;