// Will convert the element to a screen reader element
@mixin screen-reader-text() {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

// Will reset a <ul>
@mixin reset-ul() {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;

    li {
        display: block;
        margin: 0;
        border: 0;
        padding: 0;
        list-style: none;
    }

}

// Will set placeholder color
@mixin set-placeholder-color( $color ) {

    // WebKit browsers
    &::-webkit-input-placeholder {
        color: $color;
    }

    // Mozilla Firefox 4 to 18
    &:-moz-placeholder {
        color: $color;
        opacity:  1;
    }

    // Mozilla Firefox 19+
    &::-moz-placeholder {
        color: $color;
        opacity:  1;
    }

    // Internet Explorer 10+
    &:-ms-input-placeholder {
        color: $color;
    }

}

// Will set transition values
@mixin set-transition( $transition... ) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// Will set transform values
@mixin set-transform( $transform... ) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}