// Breakpoints
$medium-breakpoint: 640px;
$medium-up: only screen and (min-width: $medium-breakpoint);

// Set the row width - this includes side padding.
$row-width: 920px;

// Widen the column gutter to 40px - default is 30.
$column-gutter: 40px;

// COLORS
// We use these as default colors throughout.
$wpc-royal-blue: #1159bd;
$wpc-dark-blue: #2e3641;
$wpc-light-gray: #eee;
$peach: #d0443c;
$body-bg: #fafafa; //#eff4f5;
$primary-color: $wpc-royal-blue;

// FONTS
$open_sans: 'Open Sans', sans-serif;

// Set the base font.
$font-family-sans-serif: $open_sans !default;
$body-font-family: $font-family-sans-serif !default;
$body-font-color: #222;

// Banner
$wpc-banner-bg-color: #222;
$wpc-banner-height: 50px;

// Headers
$h1-font-size: rem-calc(38); // Bring down to 2.375rem

// Links (Anchors)
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

// Paragraphs
$paragraph-line-height: 1.8;
$paragraph-margin-bottom: 1.4rem; //rem-calc(20);

// Lists
$list-side-margin: 2.3em;
$list-ordered-side-margin: 2.5em;

// Panels
$panel-bg: #f2f2f2;
$panel-border-size: 0;

// Breadcrumbs
$crumb-border-size: 0;
$crumb-padding: 0;
