// Modify neat settings.
$gutter: 3em;

// Set the row width - this includes side padding
//$row-width: 920px;

// Widen the column gutter to 40px - default is 30
//$column-gutter: 40px;

// WordPress info
$wpc-admin-bar-height: 46px;
$wpc-admin-bar-height-desktop: 32px;
$wpc-admin-bar-breakpoint: 782px;

// Breakpoints
$medium-up: 40em;

// COLORS
$wpc-royal-blue: #1159bd;
$wpc-dark-blue: darken( #2e3641, 5% );
$peach: #d0443c;
$body-bg: #fafafa; //#eff4f5;
$primary-color: $wpc-royal-blue;
$wpc-light-gray: #eee;

// FONTS
$open_sans: 'Open Sans', sans-serif;

// Set the base font
$font-family-sans-serif: $open_sans !default;
$body-font-family: $font-family-sans-serif !default;
$body-font-color: #222;

// Containers
$wpc-inside-padding-side: 40px;
$wpc-inside-padding-left: 100px;

// Banner
$wpc-banner-padding-side: 40px;
$wpc-banner-bg-color: $wpc-dark-blue;
$wpc-banner-height: 60px;
$wpc-banner-color: #fff;
$wpc-banner-logo-width: 224px;
$wpc-banner-logo-height: 24px;
$wpc-banner-button-height: 32px;

// Hero
$wpc-hero-bg-color: $wpc-light-gray;
$wpc-hero-color: #fff;
$wpc-hero-home-height-desktop: 400px;
$wpc-hero-home-color: #fff;

// Notifications
$wpc-notif-icon-width: 28px;
$wpc-notif-icon-height: 28px;
$wpc-notif-padding-vert: 20px;

// Paragraphs
$paragraph-line-height: 1.8;
$paragraph-margin-vert: 1.8rem;

// Lists
$list-side-margin: 2.3em;
$list-ordered-side-margin: 2.5em;

// Panels
$panel-border-size: 0;

// Breadcrumbs
$crumb-border-size: 0;
$crumb-padding: 0;

// Get Involved bar
$wpc-get-involved-bg: $wpc-light-gray;
$wpc-get-involved-height: 30px;

// Footer
$wpc-footer-bg-color: #333;
$wpc-footer-color: #fff;
$wpc-footer-font-size: 0.9em;
$wpc-footer-line-height: 1.8;