#wpcampus-main .gform_wrapper ul li.gfield.gsection {
	margin: 2em 0 1em 0;
}

#wpc-host-application {

	.gform_wrapper {

		.gfield_description {

			p {
				font-size: 0.9rem;

				&:last-child {
					margin-bottom: 0;
				}
			}

			ol,
			ul {
				font-size: inherit;
				margin-left: 2em;
			}

			ol li {
				list-style: decimal !important;
			}

			ul li {
				list-style: disc !important;
			}
		}
	}
}
