// Include our dependencies
@import "normalize";
@import "bourbon";
@import "neat";

// Include our settings
@import "settings";

// Include our mixins
@import "mixins";

* {
	box-sizing: inherit;
}

html, body {
	font-size: 100%;
}

body {
	background: #fff;
	color: #222;
	cursor: auto;
	font-family: $open_sans;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	position: relative;
}

.inside {
    @include outer-container;
	padding: 0 $wpc-inside-padding-side;

	&.from-left {
		max-width: none;
		padding: 0 $wpc-inside-padding-left;
	}
}

// Hide these elements visibly, but make sure they're still viewable by screen readers
.for-screen-reader {
    @include for-screen-reader();
}

// Stylize the "Skip To Content" link
#skip-to-content {
    display: block;
    position: fixed;
    left: -1000px;
    top: -1000px;
    width: 0;
    height: 0;
    text-align: left;
    overflow: hidden;
    z-index: 1000000;

    &:focus, &:active, &:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        background: $wpc-light-gray;
        color: #000;
        padding: 10px;
    }
}

// Images
img {

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

// Include basic typography styles
@import "components/typography";

// Include our eduwapuu styles
@import "components/eduwapuu";

// Include our banner
@import "components/banner";

// Include our hero styles
@import "components/hero";

// Include our notification styles
@import "components/notifications";

.podcast-iframe {
    width: 100%;
    height: 500px;
    margin: 10px 0 0 0;
}

.wpcampus-podcasts {

    .wpcampus-podcast {

        .podcast-meta {
            margin: -8px 0 10px 0;
            font-size: 1.1em;
            color: rgba(#1159bd,0.8);
        }
    }
}

.wpcampus-podcast-single {

    .podcast-meta {
        margin: -8px 0 10px 0;
        font-size: 1.1em;
        color: rgba(#1159bd,0.8);
        text-align: center;
    }
}

.wpcampus-chart,
.wpcampus-map {
    background: #fff;
    width: 100%;
    height: 450px;
    border: 1px solid rgba(#000,0.1);
    margin: 0 0 30px 0;
    overflow: hidden;

    & + .wpcampus-chart,
    & + .wpcampus-map {
        border-top: 0;
        margin-top: -30px;
    }

    &.bar-chart {
        padding: 20px;
    }
}

.wpcampus-map {
    padding: 40px;
}

.google-maps-builder-wrap {
    margin: 0 0 30px 0;
}

.maps-builder-pro-message {
    background: rgba(#000,0.05);
    padding: 20px;
    margin: -20px 0 35px 0;
}

#wpcampus-data-group {
    background: rgba(#000,0.02);
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: rgba(#000,0.9);
    padding: 20px;
    margin-bottom: 0;
    border: 1px solid rgba(#000,0.1);
    border-bottom: 0;
}

#wpcampus-chart-sessions {
    height: 600px;
}

.breadcrumbs-wrapper {
    text-align: center;

    .breadcrumbs {
        display: inline-block;
        width: auto;
        background: none;
        margin: 0;
    }
}

.panel {
    padding: 20px;

    &.center {
        text-align: center;
    }

    &.dark {
        color: #fff;

        * {
            color: inherit;
        }
    }

    &.coming-soon {
        font-style: italic;

        p {
            margin-bottom: 0;
        }
    }

    &.vote-on-new-name {
        padding: 25px;
    }

    &.peach {
        background: $peach;
        color: #fff;
    }

    &.royal-blue {
        background: $wpc-royal-blue;
        color: #fff;

        * {
            color: inherit;
        }
    }

    &.dark-blue {
        background: $wpc-dark-blue;
        color: #fff;

        * {
            color: inherit;
        }
    }

    &.wpcampus-phil-tshirt {
        background: #fff;
        //border: 20px solid $panel-bg;
        margin-right: -20px;
    }

    &.wpc-announce {
        padding: 30px;

        h2 {
            text-transform: uppercase;
            font-size: 1.8em;
            line-height: 1;
            text-align: center;
        }
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.google-maps-info-content {

    .info-title {
        font-size: 17px;
        line-height: 20px;
        margin: 5px 0 3px 0;
        font-weight: 600;
    }

    p {
        font-size: 13px;
        line-height: 19px;

        &.website {
            margin-bottom: 2px;
        }
    }

    *:last-child {
        margin-bottom: 6px;
    }
}

// Include the main styles
@import "components/main";

// Include the form styles
@import "components/forms";

// Include our footer
@import "components/footer";

// Should be medium up
/*@media screen and (min-width: $medium-up) {

    .wpcampus-chart,
    .wpcampus-map {

        &.bar-chart {
            padding: 40px;
        }
    }

    ul {

        &.column-two {
            margin-left: 3em;

            li {
                width: 45%;
            }
        }
    }
}*/