// Include our settings.
@import "_settings";

// Include our mixins.
@import "_mixins";

// Include our dependencies.
@import "normalize";

// Include Foundation styles until we can remove.
@import "components/foundation";

// Hide these elements visibly, but make sure they're still viewable by screen readers.
.for-screen-reader,
.screen-reader-text {
    @include for-screen-reader();
}

#wpc-skip-to-content {
	background: $wpc-royal-blue;
	color: #fff;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
	line-height: 1.3;
}

h1, h2, h3 {
    .fade {
        opacity: 0.7;
    }
    .narrow {
        font-weight: 300;
    }
}

h2 {
    margin: 3rem 0 1rem 0;
	line-height: 1.3;
}

img {

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

ul {

    &.column-two {
        margin-left: 2em;
        overflow: auto;

        li {
            display: inline-block;
            float: none;
            width: 100%;

            &:before {
                content: '-';
                font-weight: bold;
                padding: 0 8px 0 0;
                font-size: 1.1em;
                line-height: 1;
            }
        }
    }
}

.button-group {
	margin: 0 0 $paragraph-margin-bottom 0;

	& > li {
		display: block;
		width: 100%;
	}

	.button {
		display: block;
		margin-bottom: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}
}

hr {
	margin: 2.5em 0;
}

$wpc-banner-highlight-bg: #1159bd;
$wpc-banner-highlight-color: #fff;
$wpc-banner-highlight-margin-left: 5px;
$wpc-banner-breakpoint: 660px;
#wpc-network-banner {
    background: #f2f2f2;

    @media screen and (min-width: $wpc-banner-breakpoint) {

		.wpc-menu {

			li {

				&.highlight {
					font-weight: normal;
					font-size: 100%;
                    margin-left: 5px;

					a {
                        background: $wpc-banner-highlight-bg;
                        color: $wpc-banner-highlight-color;
						opacity: 1;

                        &:hover,
                        &:focus {
                            background: darken($wpc-banner-highlight-bg, 10%);
                        }
					}
				}
			}
		}
	}
}

#wpcampus-banner {
	position: relative;
	width: 100%;
    height: $wpc-banner-height;
    background: $wpc-banner-bg-color;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
	z-index: 10000;

    .wpc-toggle-menu {
        display: block;
        width: 100%;
        height: $wpc-banner-height;
        background: none;
	    color: rgba(255,255,255,0.9);
        text-transform: uppercase;
        font-size: 1em;
        line-height: $wpc-banner-height;
        padding: 0 20px;
        margin: 0;
        border: 0;
        cursor: pointer;
        overflow: hidden;

        .open-menu-label,
        .close-menu-label {
            display: block;
            float: left;
            text-transform: uppercase;
            height: $wpc-banner-height;
            line-height: $wpc-banner-height;
        }

        .close-menu-label {
            display: none;
        }

        .toggle-icon {
            display: block;
            float: left;
            width: 22px;
            height: 18px;
            cursor: pointer;
            position: relative;
            margin: 15px 12px 0 0;

            .bar {
	            background: rgba(255,255,255,0.8);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                margin: 0;
                opacity: 1;
                transition: all 200ms ease-out;

                &.two {
                    margin-top: 8px;
                }

                &.three {
                    margin-top: 16px;
                }
            }
        }

	    &:hover,
	    &:focus {
		    background: $wpc-royal-blue;
	    }
    }

    .menu {
	    display: none;
        background: $wpc-banner-bg-color;
	    max-height: 0;
	    transition: max-height 0.5s ease-in-out;
	    overflow: hidden;

        & > ul {
            @include reset-ul();
            color: #fff;
            font-size: 1em;
            line-height: 1;
            text-transform: uppercase;

            & > li {
                color: inherit;
                font-size: inherit;
                line-height: inherit;

                a {
                    display: block;
                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    text-decoration: none;
                    padding: 15px 10px;
                }

                img {
                    display: block;
                }

                &.icon {
                    display: inline-block;

                    a {
                        padding: 10px 7px;
                    }

                    img {
                        height: 15px;
                        opacity: 0.7;
                    }

					&.has-icon-alt {
						display: block;

						a {
							padding: 15px 10px;
						}

						img {
							display: none;
						}
					}

					&.github {

						img {
							height: 18px;
						}
					}
				}

				&.current-menu-item,
				&.current-menu-ancestor,
				&:hover,
				&:focus {
					background: #4e4e4e;
					border-bottom: 1px solid #fff;
				}

				&.menu-item-has-children {

					&:hover,
					&:focus {
						border-bottom: 0;
					}
				}
			}
		}

	    ul {
		    display:block;
		    margin:0;
		    border:0;
		    padding:0;
		    list-style:none;
		    color:#fff;
		    font-size:1em;
		    line-height:1;
		    text-transform:uppercase;

		    li {
			    display:block;
			    margin:0;
			    border:0;
			    padding:0;
			    list-style:none;
			    position:relative;
			    color:inherit;
			    font-size:inherit;
			    line-height:inherit;

			    a {
				    display: block;
				    color: inherit;
				    font-size: inherit;
				    line-height: inherit;
				    text-decoration: none;
			    }
		    }
	    }

	    & > ul {

		    & > li {

			    & > a {
				    padding: 15px 10px;
			    }

			    img {
				    display: block;
			    }

			    &.icon {
				    display: inline-block;

				    a {
					    padding: 10px 7px;
				    }

				    img {
					    height: 15px;
					    opacity: 0.7;
				    }

				    &.has-icon-alt {
					    display: block;

					    a {
						    padding: 15px 10px;
					    }

					    img {
						    display: none;
					    }
				    }

				    &.github {

					    img {
						    height: 18px;
					    }
				    }
			    }

			    &.current > a,
			    &.current-menu-item,
			    &.current-menu-ancestor,
			    &:hover,
			    &:focus {
				    background: #4e4e4e;
			    }
		    }
	    }
	}
}

#wpcampus-banner.wpc-menu-open{position: fixed;left: 0;top: 0;height: 100%;border-bottom: 0;}#wpcampus-banner.wpc-menu-open .wpc-toggle-menu .toggle-icon .bar.one{margin-top:8px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}#wpcampus-banner.wpc-menu-open .wpc-toggle-menu .toggle-icon .bar.two{opacity:0}#wpcampus-banner.wpc-menu-open .wpc-toggle-menu .toggle-icon .bar.three{margin-top:8px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}#wpcampus-banner.wpc-menu-open .wpc-toggle-menu .open-menu-label{display:none}#wpcampus-banner.wpc-menu-open .wpc-toggle-menu .close-menu-label{display:block}#wpcampus-banner.wpc-menu-open .menu{display:block;max-height:2000px;;z-index:10000;}@media screen and (min-width: 960px){#wpcampus-banner .wpc-toggle-menu{display:none !important}#wpcampus-banner .menu{display:flex !important;width:920px;height:50px;max-height:none;background:none!important;margin:0 auto;overflow: visible;}#wpcampus-banner .menu > ul{display:flex!important;height:50px;line-height:49px;flex-grow:2;}#wpcampus-banner .menu > ul.icons{height:49px;flex-grow:initial;}#wpcampus-banner .menu > ul > li{flex-grow:1;height:100%}#wpcampus-banner .menu > ul > li > a{height:100%;padding:0;}#wpcampus-banner .menu > ul > li.icon{display:block}#wpcampus-banner .menu > ul > li.icon a{padding:16px 10px 0 10px}#wpcampus-banner .menu > ul > li.icon img{display:block !important}#wpcampus-banner .menu > ul > li.icon .icon-alt{display:block;width:0;height:0;margin:0;padding:0;overflow:hidden;text-indent:-9999px}#wpcampus-banner .menu > ul > li.icon.github a{padding-top:15px}}

#wpcampus-banner .menu > ul.icons > li.current > a,
#wpcampus-banner .menu > ul.icons > li:hover,
#wpcampus-banner .menu > ul.icons > li:focus,
#wpcampus-banner .menu ul li.menu-item-has-children:hover,
#wpcampus-banner .menu ul li.menu-item-has-children:focus {
	border-bottom: 0;
}

@media screen and (min-width: 960px) {
	#wpc-network-banner {

		.wpc-menu {
			padding-right: 13px;
		}
	}

	#wpcampus-banner {

		.menu {

			& > ul {

				& > li.current > a,
				& > li.current-menu-item,
				& > li.current-menu-ancestor,
				& > li:hover,
				& > li:focus {
					border-bottom:1px solid #fff;
				}
			}

			.hide-on-desktop {
				display: none;
			}
		}
	}
}

#wpcampus-banner .menu > ul ul {
	display: none;
	background: #4e4e4e;
	position: absolute;
	left: 0;
	top: 98%;
	min-width: 130%;
	text-align: left;
	padding: 8px 0 10px 0;
	border: 1px solid #fff;
	border-top: 0;
	line-height: 1.3;

	& > li > a {
		padding: 3px 12px;

		&:hover {
			background: #fff;
			color: #444;
		}
	}
}

@media screen and (min-width: 960px) {
	#wpcampus-banner .menu > ul > li.menu-item-has-children:hover > ul {
		display: block;
		z-index: 1000;
	}
}

// Make padding for the banner.
body.wpc-banner-fixed {
	padding-top: $wpc-banner-height;

	#wpcampus-banner {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000;
	}
}

/*#wpcampus-hero {
    background: url('../images/wpcampus-tile-BG-small.jpg') 0 0 repeat;
    background-size: auto 400px;
    position: relative;
    color: #fff;
    box-shadow: inset 0 0 20px #000000;

    a {
        color: inherit;
        text-decoration: none;
    }

    &:before {
        content: '';
        background: rgba( #000, 0.6 );
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .columns {
        position: relative;
    }

    .wpcampus-header {
        display: block;
        text-align: center;
        width: 100%;
        padding: 30px 10px;

        h1 {
            font-size: inherit;
            color: inherit;
            margin: 0;
            padding: 0;
        }

        .wpcampus-logo {
            display: block;
            width: 800px;
            max-width: 100%;
            margin: 0 auto;

            img {
                margin: 0 auto 10px auto;
            }

            .wpcampus-tagline {
                display: block;
                color: inherit;
                margin: 0;
                font-size: 1.5em;
                line-height: 1.3;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center;
            }
        }

        .wpc-header-buttons {
            display: block;
            list-style: none;
            margin: 0;
            border: 0;
            padding: 0;

            .button {
                display: block;
                margin: 12px auto 0 auto;
                padding: 15px 18px;
                text-transform: uppercase;
                font-size: 1.2em;
                line-height: 1.3;

                &.royal-blue {
                    background: $wpc-royal-blue;

                    &:hover,
                    &:focus {
                        background: darken( $wpc-royal-blue, 10% );
                    }
                }
            }

            li {
                display: block;
                list-style: none;
                margin: 0;
                border: 0;
                padding: 0;
            }
        }
    }
}

// The main notification.
#wpc-notifications {

    .wpc-notification-message {
        max-width: 880px;
    }
}

iframe {
	width: 100%;
	max-width: 100%;
}

.wpcampus-media-iframe {
    width: 100%;
	max-width: 100%;
    height: 500px;

    &.wpcampus-media-podcast {
        margin: 10px 0 0 0;
    }
}

#atstbx {
    position: relative;
    z-index: 0;
    text-align: center;
    margin: 0;
}

.wpcampus-chart,
.wpcampus-map {
    background: #fff;
    width: 100%;
    height: 450px;
    border: 1px solid rgba(#000,0.1);
    margin: 0 0 30px 0;
    overflow: hidden;

    & + .wpcampus-chart,
    & + .wpcampus-map {
        border-top: 0;
        margin-top: -30px;
    }

    &.bar-chart {
        padding: 20px;
    }
}

.wpcampus-map {
    padding: 40px;
}

.google-maps-builder-wrap {
    margin: 0 0 30px 0;
}

.maps-builder-pro-message {
    background: rgba(#000,0.05);
    padding: 20px;
    margin: -20px 0 35px 0;
}

#wpcampus-data-group {
    background: rgba(#000,0.02);
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: rgba(#000,0.9);
    padding: 20px;
    margin-bottom: 0;
    border: 1px solid rgba(#000,0.1);
    border-bottom: 0;
}

#wpcampus-chart-sessions {
    height: 600px;
}

.breadcrumbs-wrapper {

    .breadcrumbs {
        display: inline-block;
        width: auto;
        background: none;
        margin: 0;
    }
}

.panel {
    padding: 20px;
    margin: $paragraph-margin-bottom 0;

    &.center {
        text-align: center;
    }

	&.blue {
		background-color: rgba(17,89,189,0.1);
	}

    &.dark {
        color: #fff;

        * {
            color: inherit;
        }
    }

    &.coming-soon {
        font-style: italic;

        p {
            margin-bottom: 0;
        }
    }

    &.vote-on-new-name {
        padding: 25px;
    }

    &.peach {
        background: $peach;
        color: #fff;
    }

    &.royal-blue {
        background: $wpc-royal-blue;
        color: #fff;

        * {
            color: inherit;
        }
    }

    &.dark-blue {
        background: $wpc-dark-blue;
        color: #fff;

        * {
            color: inherit;
        }
    }

    &.wpcampus-phil-tshirt {
        background: #fff;
        border: 20px solid $panel-bg;
        margin-right: -20px;
    }

    &.wpc-announce {
        padding: 30px;

        h2 {
            text-transform: uppercase;
            font-size: 1.8em;
            line-height: 1;
            text-align: center;
        }
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.google-maps-info-content {

    .info-title {
        font-size: 17px;
        line-height: 20px;
        margin: 5px 0 3px 0;
        font-weight: 600;
    }

    p {
        font-size: 13px;
        line-height: 19px;

        &.website {
            margin-bottom: 2px;
        }
    }

    *:last-child {
        margin-bottom: 6px;
    }
}

.article-meta-wrapper {
	font-size: 0.9em;
    line-height: 1.6;
	margin: 5px 0 7px 0;
	opacity: 0.7;

	a {
		color: inherit;
	}

	.article-meta {

        &.article-comments.has-comments {
            font-weight: bold;
        }

		&:before {
			content: '-';
			padding: 0 8px 0 5px;
			font-weight: normal;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}

#wpcampus-main-page-title {
    background: $body-bg;
    padding: 25px 40px;
    margin: 0;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 2.6em;
        line-height: 1.4;
    }
}

body.single-post,
body.single-podcast {

	#wpcampus-main-page-title {
		background: #fff;
        padding-top: 55px;
        padding-bottom: 45px;
		text-align: left;

		.inside {
			margin: 0 auto;
			max-width: 920px;
			padding: 0 20px;
		}
	}

	#wpcampus-main {
		padding-top: 0;
	}
}

// Include components.
@import "components/comments";
@import "components/forms";

// Add main area styles.
@import "components/main";

.fbx-blue .fbx-caption a {
	color: inherit;
}

@media screen and (min-width: 720px) {

	#wpcampus-hero {
		background-image: url('../images/wpcampus-tile-BG.jpg');
		background-size: auto 300px;
		height: 300px;

		.columns {
			height: 300px;
		}

		.wpcampus-header {
			position: absolute;
			top: 50%;
			left: 0;
			padding: 0 ( $column_gutter / 2 );
			@include set-transform( translate(0, -50%) );

			.wpcampus-logo {

				.wpcampus-tagline {
					font-size: 2.25em;
					line-height: 1.2;
				}
			}

            .wpc-header-buttons {

	            li {
		            display: inline-block;
		            margin-left: 12px;

		            &:first-child {
			            margin-left: 0;
		            }
	            }

                .button {
                    display: inline-block;
                    margin-top: 18px;
                }
            }
		}
	}
}

@media #{$medium-up} {

    .wpcampus-chart,
    .wpcampus-map {

        &.bar-chart {
            padding: 40px;
        }
    }

    ul {

        &.column-two {
            margin-left: 3em;

            li {
                width: 45%;
            }
        }
    }
}*/
