// Move the content down for the banner and WP admin bar.
body {
	padding-top: $wpc-banner-height;
}

// Modify the WP admin bar
#wpadminbar {
	background: $wpc-banner-bg-color;
	padding: 5px 33px;
	position: fixed !important;
}

#wpc-banner {
	background: $wpc-banner-bg-color;
	color: $wpc-banner-color;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $wpc-banner-height;
	z-index: 1000;
	overflow: visible;
	border-bottom: 2px solid #fff;

	// Move the banner down for the WP admin bar.
	body.admin-bar & {
		top: $wpc-admin-bar-height;

		@media screen and (min-width: $wpc-admin-bar-breakpoint) {
			top: $wpc-admin-bar-height-desktop;
		}
	}

	a {
		color: inherit;
	}

	/*.shadow {
		position: absolute;
		left: -15%;
		top: 0;
		width: 120%;
		height: 20px;
		box-shadow: 0 10px 35px 45px rgba( #000, 0.5 );
		background: rgba( #000, 0.5 );
		z-index: -1;
	}*/

	.wpc-logo {
		display: block;
		background: url( '../images/wpcampus-white.svg' ) center center no-repeat;
		background-size: auto 100%;
		position: absolute;
		left: $wpc-banner-padding-side;
		top: ( $wpc-banner-height - $wpc-banner-logo-height ) / 2;
		width: $wpc-banner-logo-width;
		height: $wpc-banner-logo-height;
	}

	.buttons {
		position: absolute;
		right: $wpc-banner-padding-side;
		top: ( $wpc-banner-height - $wpc-banner-button-height ) / 2;

		.button {
			display: block;
			float: right;
			height: $wpc-banner-button-height;
			text-align: center;
			font-size: 0.9rem;
			line-height: $wpc-banner-button-height;
			padding: 0 15px;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 5px;
			margin: 0 0 0 7px;

			&.primary {
				background: $wpc-royal-blue;
				color: #fff;
			}

			&.secondary {
				background: $wpc-light-gray;
				color: #222;
			}
		}
	}

	ul.wpc-primary-menu {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		overflow: auto;

		ul.sub-menu {
			display: none;
		}

		li {
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: $wpc-banner-height;
			text-transform: uppercase;

			a {
				display: block;
				padding: 0 20px;
				text-decoration: none;
				font-weight: inherit;
			}

			&.current-menu-item,
			&:hover {
				background: rgba( 255, 255, 255, 0.1 );
			}

			&.current-menu-item {
				font-weight: bold;
			}
		}
	}

	.wpc-primary-menu-wrapper {
		text-align: center;
	}

	/*.toggle-main-menu {
		display: block;
		height: $wpc-banner-height;
		background: none;
		color: rgba( #fff, 0.9 );
		text-transform: uppercase;
		font-size: 1em;
		line-height: $wpc-banner-height;
		padding: 0 20px;
		cursor: pointer;
		overflow: hidden;

		.open-menu-label,
		.close-menu-label {
			display: block;
			float: left;
			text-transform: uppercase;
			height: $wpc-banner-height;
			line-height: $wpc-banner-height;
		}

		.close-menu-label {
			display: none;
		}

		.toggle-icon {
			display: block;
			float: left;
			width: 22px;
			height: 18px;
			cursor: pointer;
			position: relative;
			margin: 15px 12px 0 0;

			.bar {
				background: rgba( #fff, 0.8 );
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				margin: 0;
				opacity: 1;
				-webkit-transition: all 200ms ease-out;
				-moz-transition: all 200ms ease-out;
				-ms-transition: all 200ms ease-out;
				-o-transition: all 200ms ease-out;
				transition: all 200ms ease-out;

				&.two {
					margin-top: 8px;
				}

				&.three {
					margin-top: 16px;
				}
			}
		}
	}

	.menu {
		display: none;
		z-index: 10000;
		border-bottom: 1px solid #fff;
		padding: 0 0 5px 0;

		ul {
			@include reset-ul();
			color: #fff;
			font-size: 1em;
			line-height:1;
			text-transform: uppercase;

			li {
				color: inherit;
				font-size: inherit;
				line-height: inherit;

				a {
					display: block;
					color: inherit;
					font-size: inherit;
					line-height: inherit;
					text-decoration: none;
					padding: 15px 10px;
				}

				img {
					display: block;
				}

				&.icon {
					display: inline-block;

					a {
						padding: 10px 7px;
					}

					img {
						height: 15px;
						opacity: 0.7;
					}

					&.has-icon-alt {
						display: block;

						a {
							padding: 15px 10px;
						}

						img {
							display: none;
						}
					}

					&.github {

						img {
							height: 18px;
						}
					}
				}

				&.current a,
				a:hover {
					background: rgba(#fff, 0.2);
				}
			}
		}
	}

	&.open-menu {

		.toggle-main-menu {
			background: none;

			&:hover {
				background: none;
			}

			.toggle-icon {

				.bar {

					&.one {
						margin-top: 8px;
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}

					&.two {
						opacity: 0;
					}

					&.three {
						margin-top: 8px;
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}
			}

			.open-menu-label {
				display: none;
			}

			.close-menu-label {
				display: block;
			}
		}
	}

	// Expand the banner
	@media screen and (min-width: 700px) {

		.toggle-main-menu {
			display: none !important;
		}

		.menu {
			display: block !important;
			height: $wpc-banner-height;
			background: none !important;

			ul {
				display: inline-block !important;
				height: $wpc-banner-height;
				line-height: $wpc-banner-height - 1;

				li {
					float: left;
					height: $wpc-banner-height;

					a {
						height: $wpc-banner-height;
						padding: 0 12px;
					}

					&.icon {
						display: block;

						a {
							padding: 16px 10px 0 10px;
						}

						img {
							display: block !important;
						}

						.icon-alt {
							@include for-screen-reader();
						}

						&.github {

							a {
								padding-top: 15px;
							}
						}
					}
				}
			}
		}
	}*/
}