// Move the content down for the banner and WP admin bar.
body {
	padding-top: $wpc-banner-height;

	@media screen and (min-width: $small-up) {
		padding-top: $wpc-banner-height-desktop;
	}
}

// Modify the WP admin bar.
#wpadminbar {
	background: $wpc-banner-bg-color;
	padding: 5px 33px;
	position: fixed !important;
}

#wpc-banner {
	background: $wpc-banner-bg-color;
	position: fixed;
	left: 0;
	top: 0;
	color: $wpc-banner-color;
	width: 100%;
	height: $wpc-banner-height;
	padding: 0;
	border-bottom: $wpc-banner-border-height $wpc-banner-border-style $wpc-banner-border-color;
	z-index: 1000;
	overflow: visible;

	// Move the banner down for the WP admin bar.
	body.admin-bar & {
		top: $wpc-admin-bar-height;

		@media screen and (min-width: $wpc-admin-bar-breakpoint) {
			top: $wpc-admin-bar-height-desktop;
		}
	}

	a {
		color: inherit;
	}

	.inside {
		width: 100%;
		height: $wpc-banner-height;
		padding: 0;
		overflow: hidden;

		@media screen and (min-width: $small-up) {
			height: $wpc-banner-height-desktop;
			padding: 0 $wpc-inside-padding-side;
		}
	}

	.eduwapuu-wrapper {
		display: inline-block;
		width: $wpc-banner-eduwapuu-width;
		height: $wpc-banner-eduwapuu-height;
		vertical-align: middle;
		margin: -5px 0 0 0;

		@media screen and (min-width: $small-up) {
			display: none;
		}
	}

	.wpc-logo {
		display: block;
		background: url('../images/wpcampus-white-logo-tagline.svg') ($wpc-banner-eduwapuu-width + $wpc-banner-eduwapuu-margin-right) center no-repeat;
		background-size: $wpc-banner-logo-width $wpc-banner-logo-height;
		width: $wpc-banner-logo-width + ( $wpc-banner-eduwapuu-width + $wpc-banner-eduwapuu-margin-right );
		height: $wpc-banner-height;
		line-height: $wpc-banner-height;
		margin: 0 auto;
		z-index: 1200;

		@media screen and (min-width: $small-up) {
			background: url('../images/wpcampus-white.svg') center center no-repeat;
			background-size: auto 100%;
			position: absolute;
			left: $wpc-banner-padding-side-desktop + $wpc-banner-menu-icon-width + $wpc-banner-padding-side;
			top: ( $wpc-banner-height-desktop - $wpc-banner-logo-height-desktop ) / 2;
			width: $wpc-banner-logo-width-desktop;
			height: $wpc-banner-logo-height-desktop;
			line-height: $wpc-banner-logo-height-desktop;
			margin: 0;
		}

		@media screen and (min-width: $menu-open-bp) {
			left: $wpc-banner-padding-side-desktop;
		}
	}

	.wpc-menu-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: $wpc-banner-menu-icon-width + ( $wpc-banner-padding-side * 2 );
		height: $wpc-banner-height;

		.toggle-main-menu {
			display: block;
			width: $wpc-banner-menu-icon-width + ( $wpc-banner-padding-side * 2 );
			height: $wpc-banner-height-no-border;
			cursor: pointer;
			overflow: hidden;
			position: relative;

			.toggle-icon {
				display: block;
				width: $wpc-banner-menu-icon-width;
				height: $wpc-banner-menu-icon-height;
				position: absolute;
				right: $wpc-banner-padding-side;
				top: 50%;
				margin-top: 0 - ( $wpc-banner-menu-icon-height / 2 );
				cursor: pointer;

				.bar {
					background: rgba( #fff, 0.8 );
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 2px;
					margin: 0;
					opacity: 1;
					transition: all 200ms ease-out;

					&.two {
						margin-top: 8px;
					}

					&.three {
						margin-top: 16px;
					}
				}

				@media screen and (min-width: $small-up) {
					right: $wpc-banner-padding-side-desktop;
				}
			}

			@media screen and (min-width: $small-up) {
				width: $wpc-banner-menu-icon-width-desktop + ( $wpc-banner-padding-side-desktop * 2 );
				height: $wpc-banner-height-desktop-no-border;
			}

			@media screen and (min-width: $menu-open-bp) {
				display: none;
			}
		}

		.wpc-menu-container {
			display: none;

			.wpc-buttons {
				display: none;
				text-align: center;
				z-index: 1000;

				.button {
					display: block;
					float: right;
					width: 50%;
					height: $wpc-banner-button-height;
					text-align: center;
					font-size: 0.9rem;
					line-height: $wpc-banner-button-height;
					padding: 0 15px;
					text-decoration: none;
					text-transform: uppercase;
					margin: 0;

					&.primary {
						background: $wpc-royal-blue;
						color: #fff;
					}

					&.secondary {
						background: $wpc-light-gray;
						color: #222;
					}

					@media screen and (min-width: $small-up) {
						width: auto;
						height: $wpc-banner-button-height-desktop;
						line-height: $wpc-banner-button-height-desktop;
						border-radius: 5px;
						margin: 0 0 0 $wpc-banner-button-padding;
					}
				}

				@media screen and (min-width: $small-up) {
					display: block;
					position: absolute;
					right: $wpc-banner-padding-side-desktop + $wpc-banner-search-icon-width-desktop + $wpc-banner-search-buttons-padding;
					top: ( $wpc-banner-height-desktop - $wpc-banner-button-height-desktop ) / 2;
				}
			}

			ul.wpc-menu {
				display: block;
				margin: 0;
				padding: 0;
				overflow: auto;

				ul.sub-menu {
					display: none;
				}

				li {
					display: block;
					list-style: none;
					margin: 0;
					padding: 0;
					line-height: normal;
					text-transform: uppercase;

					a {
						display: block;
						padding: 0 20px;
						text-decoration: none;
						font-weight: inherit;
					}

					&.current-menu-item,
					&.current_page_parent,
					&:hover {
						background: rgba(255, 255, 255, 0.1);
					}

					&.current-menu-item {
						font-weight: bold;
					}
				}

				@media screen and (min-width: $menu-open-bp) {
					display: inline-block;
					text-align: center;

					li {
						float: left;
						line-height: $wpc-banner-height-desktop;
					}
				}
			}
		}

		@media screen and (min-width: $small-up) {
			width: $wpc-banner-menu-icon-width-desktop + ( $wpc-banner-padding-side-desktop * 2 );
			height: $wpc-banner-height-desktop;
		}

		@media screen and (min-width: $menu-open-bp) {
			left: 0;
			width: 100%;
			text-align: center;
		}
	}

	.wpc-search-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		width: $wpc-banner-search-icon-width + ( $wpc-banner-padding-side * 2 );
		height: $wpc-banner-height-no-border;

		.wpc-search-wrapper-bg {
			display: none;
			background: $wpc-dark-blue;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -10;
		}

		.wpc-search-form-wrapper {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.8s ease;

			.search-form {
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				width: 100%;
				height: $wpc-banner-search-icon-height-desktop;
				padding: 0 ($wpc-banner-padding-side + $wpc-banner-search-button-width + $wpc-banner-search-button-padding) 0 ($wpc-banner-search-icon-width + $wpc-banner-padding-side + $wpc-banner-search-input-padding);

				input {
					display: block;
					height: 100%;
					margin: 0;
					border: 0;
					padding: 0;
					line-height: $wpc-banner-search-icon-height-desktop;

					&.search-field {
						width: 100%;
						padding: 0 5px;
					}

					&.search-submit {
						position: absolute;
						right: $wpc-banner-padding-side;
						top: 0;
						background: #ddd;
						color: #444;
						width: $wpc-banner-search-button-width;
						font-size: 0.8rem;
						font-weight: bold;
						text-transform: uppercase;

						@media screen and (min-width: $small-up) {
							right: $wpc-banner-padding-side-desktop;
						}
					}
				}

				@media screen and (min-width: $small-up) {
					padding: 0 ($wpc-banner-padding-side-desktop + $wpc-banner-search-button-width + $wpc-banner-search-button-padding) 0 ($wpc-banner-search-icon-width-desktop + $wpc-banner-padding-side-desktop + $wpc-banner-search-input-padding);
				}
			}
		}

		.wpc-search-icon {
			cursor: pointer;
			position: absolute;
			left: $wpc-banner-padding-side;
			top: 0;
			width: $wpc-banner-search-icon-width + ( $wpc-banner-search-input-padding / 2 );
			height: $wpc-banner-height-no-border;
			z-index: 10;

			.wpc-search-magnifying,
			.wpc-search-close {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-size: $wpc-banner-search-icon-width $wpc-banner-search-icon-height-desktop;
				background-position: left center;
				background-repeat: no-repeat;
				transition: opacity 0.8s ease;
			}

			.wpc-search-magnifying {
				background-image: url('../images/magnifying-glass-white.png');
				opacity: 1;
			}

			.wpc-search-close {
				background-image: url('../images/close-white.png');
				opacity: 0;
			}

			@media screen and (min-width: $small-up) {
				left: $wpc-banner-padding-side-desktop;
				width: $wpc-banner-search-icon-width-desktop + ( $wpc-banner-search-input-padding / 2 );
				height: $wpc-banner-height-desktop-no-border;
			}
		}

		@media screen and (min-width: $small-up) {
			width: $wpc-banner-search-icon-width-desktop + ( $wpc-banner-padding-side-desktop * 2 );
			height: $wpc-banner-height-desktop-no-border
		}
	}

	&.menu-open {

		.wpc-menu-wrapper {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			overflow: hidden;

			.wpc-menu-container {
				display: block;
				width: 100%;
				height: 100%;
				background: $wpc-medium-gray;
				position: absolute;
				left: 0;
				top: $wpc-banner-height - $wpc-banner-border-height;
				border-top: $wpc-banner-border-height $wpc-banner-border-style $wpc-banner-border-color;
				overflow: scroll;

				.wpc-buttons {
					display: block;
					position: absolute;
					left: 0;
					top: $wpc-banner-height;
					width: 100%;
					border-bottom: $wpc-banner-border-height $wpc-banner-border-style $wpc-banner-border-color;

					@media screen and (min-width: $small-up) {
						top: $wpc-banner-height-desktop;
					}
				}
				
				ul.wpc-menu {
					padding: 30px 0;

					li {
						display: block;

						a {
							display: block;
							padding: 10px $wpc-banner-padding-side;

							@media screen and (min-width: $small-up) {
								padding-left: $wpc-banner-padding-side-desktop;
								padding-right: $wpc-banner-padding-side-desktop;
							}
						}
					}
				}

				@media screen and (min-width: $small-up) {
					top: $wpc-banner-height-desktop - $wpc-banner-border-height;
				}
			}
		}
	}

	&.search-open-transition,
	&.search-close-transition,
	&.search-open,
	&.search-close {

		.wpc-search-wrapper {
			z-index: 2000;
		}

		.wpc-search-wrapper-bg {
			display: block;
		}
	}

	&.search-open-transition {

		.wpc-search-icon {

			.wpc-search-magnifying {
				opacity: 0;
			}

			.wpc-search-close {
				opacity: 1;
			}
		}

		.wpc-search-form-wrapper {
			opacity: 1;
		}
	}

	&.search-open {

		.wpc-search-wrapper {
			right: 0;
			width: 100%;

			.wpc-search-icon {

				.wpc-search-magnifying {
					opacity: 0;
				}

				.wpc-search-close {
					opacity: 1;
				}
			}
		}

		.wpc-search-form-wrapper {
			opacity: 1;
		}
	}

	&.search-close-transition {

		.wpc-search-icon {

			.wpc-search-magnifying {
				opacity: 1;
			}

			.wpc-search-close {
				opacity: 0;
			}
		}

		.wpc-search-form-wrapper {
			opacity: 0;
		}
	}

	&.search-close {

		.wpc-search-form-wrapper {
			opacity: 0;
		}
	}

	@media screen and (min-width: $small-up) {
		height: $wpc-banner-height-desktop;
	}
}