.eduwapuu-wrapper {
	display: block;
	width: 200px;
	height: auto;
	vertical-align: inherit;
	margin: 0;

	a {
		display: block;
	}

	img, svg {
		width: 100%;
	}

	.eduwapuu {
		display: block;
		width: auto;
		height: 100%;
		margin: 0 auto;

		.mouth-dropped {
			display: none;
		}
	}
}