#wpc-get-involved {
	background: $wpc-get-involved-bg;
	text-align: center;
	line-height: $wpc-get-involved-height;
	padding: 25px 0;
	overflow: auto;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		width: 2px;
		height: 100%;
		background: rgba(0,0,0,0.15);
	}

	.column {
		float: left;
		width: 50%;
		padding: 0 25px;
		vertical-align: middle;
	}

	.column-message {
		display: inline-block;
		font-size: 24px;
		line-height: $wpc-get-involved-height;
		text-transform: uppercase;
		margin: 0 12px 0 0;
		opacity: 0.75;
		vertical-align: middle;
	}

	.social {

		.column-message {
			margin-right: 0;
		}

		ul.icons {
			display: inline-block;
			margin: 0;
			padding: 0;
			text-align: center;
			overflow: auto;
			vertical-align: middle;
			line-height: $wpc-get-involved-height;
			opacity: 0.75;

			li {
				display: block;
				float: left;
				list-style: none;
				margin: 0 15px;
				padding: 0;
				line-height: $wpc-get-involved-height;

				a {
					display: block;
				}

				img {
					display: block;
					width: auto;
					height: $wpc-get-involved-height;
					line-height: $wpc-get-involved-height;
					vertical-align: middle;
				}
			}
		}
	}

	.mailing {
		float: right;

		.gform_wrapper {
			display: inline-block;
			line-height: $wpc-get-involved-height;
			margin: 0;
			padding: 0;
			overflow: auto;
			vertical-align: middle;

			form {
				overflow: auto;
			}

			.gform_body {
				display: block;
				float: left;
				width: auto;
				overflow: auto;

				ul {
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						padding: 0;
					}
				}

				.gfield_label {
					display: none;
				}

				.ginput_container {
					margin: 0 !important;
				}

				input[type="text"] {
					display: block;
					float: left;
					width: auto;
					height: $wpc-get-involved-height;
					line-height: $wpc-get-involved-height;
					margin: 0;
					border: 0;
					padding: 7px 10px;
				}
			}

			.gform_footer {
				display: block;
				float: left;
				width: auto;
				clear: none;
				margin: 0;
				padding: 0;

				input[type="submit"] {
					width: auto;
					height: $wpc-get-involved-height;
					line-height: $wpc-get-involved-height;
					border: 0;
					padding: 0 10px;
					margin: 0;
				}
			}
		}
	}
}

#wpc-footer {
	background: $wpc-footer-bg-color;
	padding: 40px 0;
	color: $wpc-footer-color;
	font-size: $wpc-footer-font-size;
	line-height: $wpc-footer-line-height;
	text-align: center;

	* {
		font-size: inherit;
		line-height: inherit;
	}

	a {
		color: inherit;
	}

	p {
		margin: 10px 0 0 0;
	}

	.wpc-logo {
		display: block;
		background: url( '../images/wpcampus-white-logo-tagline.svg' );
		background-size: auto 100%;
		width: 300px;
		height: 50px;
		margin: 0 auto 15px auto;

		img {
			height: 50px;
		}
	}

	.wpc-footer-menu {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		overflow: auto;

		li {
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				color: inherit;
			}

			&:before {
				content: '-';
				padding: 0 5px;
			}

			&:first-child:before {
				display: none;
			}
		}
	}

	.copyright {
		font-size: 0.8rem;
		line-height: 1;
		margin-top: 20px;
		opacity: 0.8;
	}
}