#wpc-footer {
	padding: 25px 20px 35px 20px;
	color: #444;
	font-size: 0.9em;
	line-height: 1.8;
	text-align: center;

	* {
		font-size: inherit;
		line-height: inherit;
	}

	.columns *:last-child {
		margin-bottom: 0;
	}

	.addthis_sharing_toolbox {
		margin: -40px 0 22px 0;
	}

	.wpc-logo {
		display: block;
		opacity: $wpc-footer-opacity;
		margin: 0 0 15px 0;

		img {
			height: 50px;
		}

		&:hover {
			opacity: $wpc-footer-opacity-hover;
		}
	}

	.github-message {
		font-style: italic;
	}

	.icons {

		img {
			width: auto;
			height: 30px;
		}

		a {
			display: inline-block;
			opacity: $wpc-footer-opacity;
			margin: 0 5px;

			&:hover {
				opacity: $wpc-footer-opacity-hover;
			}
		}
	}

	h3 {
		text-transform: uppercase;
		margin: 0 0 3px 0;
		color: #222;
		font-weight: 600;
	}

	// Hide this message on small screens
	.photos-visible-message {
		@include screen-reader-text();
	}

	.univ-for-photos {
		overflow: auto;
		padding-left: 2.5em;
		margin-left: 0;

		li {
			float: left;
			width: 50%;
			margin: 0 0 5px 0;
		}
	}
}