#wpcampus-hero {
	background: url('../assets/images/wpcampus-tile-BG-small.jpg') 0 0 repeat;
	background-size: auto 400px;
	position: relative;
	color: #fff;
	-moz-box-shadow:    inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow:         inset 0 0 20px #000000;

	a {
		color: inherit;
		text-decoration: none;
	}

	&:before {
		content: '';
		background: rgba( #000, 0.6 );
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.columns {
		position: relative;
	}

	.wpcampus-header {
		display: block;
		text-align: center;
		width: 100%;
		padding: 30px 10px;

		h1 {
			font-size: inherit;
			color: inherit;
			margin: 0;
			padding: 0;
		}

		.wpcampus-logo {
			display: block;
			width: 800px;
			max-width: 100%;
			margin: 0 auto;

			img {
				margin: 0 auto 10px auto;
			}

			.wpcampus-tagline {
				display: block;
				color: inherit;
				margin: 0;
				font-size: 1.5em;
				line-height: 1.3;
				font-weight: 300;
				text-transform: uppercase;
				text-align: center;
			}

		}

		.button {
			display: block;
			margin: 12px auto 0 auto;
			padding: 15px 18px;
			text-transform: uppercase;
			font-size: 1.2em;
			line-height: 1.3;

			&.royal-blue {
				background: $royal-blue;

				&:hover {
					background: darken( $royal-blue, 10% );
				}

			}

		}

	}

}