#wpc-hero {
	background: $wpc-hero-bg-color;
	color: $wpc-hero-color;
	padding: 50px 0;
	border-bottom: 2px solid #fff;
	position: relative;

	a {
		color: inherit;
		text-decoration: none;
	}

	h1 {
		margin: 0;
	}

	.eduwapuu-wrapper {
		position: absolute;
		right: 40px;
		bottom: -38px;
		width: 115px;
		height: auto;
	}

	&.home {
		background: url('../images/wpcampus-tile-BG-small.jpg') 0 -60px repeat;
		background-size: auto 400px;
		//box-shadow: inset 0 0 20px #000;
		color: $wpc-hero-home-color;
		padding: 0;
		z-index: 0;

		&:before {
			content: '';
			background: rgba( #000, 0.6 );
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}

	// Should be medium up
	@media screen and (min-width: $medium-up) {

		&.home {
			background-image: url('../images/wpcampus-tile-BG.jpg');
			background-size: auto $wpc-hero-home-height-desktop;
			min-height: $wpc-hero-home-height-desktop;

			.inside {
				min-height: $wpc-hero-home-height-desktop;
				max-width: none;
			}

			.wpc-home-hero-text {
				padding: 80px 0;
				font-size: 3.8rem;
				line-height: 1.35;
				text-align: left;
				text-transform: uppercase;
				font-weight: 300;

				.digit {
					font-weight: 600;
				}

				.tagline {
					font-size: 1.75rem;
					line-height: 2;
					text-transform: none;
				}
			}
		}
	}
}