#wpc-hero {
	min-height: 150px;
	color: $wpc-hero-color;
	padding: 50px 0;
	border-bottom: 2px solid #fff;
	position: relative;
	z-index: 0;

	#wpc-hero-bg {
		background: $wpc-dark-blue;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;

		&:before {
			content: '';
			background: url('../images/wpcampus-tile-BG-small.jpg') 0 -60px repeat;
			//background: $wpc-hero-bg-color;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			-webkit-filter: blur(10px);
			opacity: 0.4;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	h1 {
		margin: 0;
	}

	.eduwapuu-wrapper {
		display: none;
		position: absolute;
		right: 40px;
		bottom: -38px;
		width: 115px;
		height: auto;

		@media screen and (min-width: $medium-up) {
			display: block;
		}
	}

	&.home {
		color: $wpc-hero-home-color;
		padding: 0;
		z-index: 0;

		#wpc-hero-bg {
			background: #000;

			&:before {
				//background: rgba( #000, 0.6 );
				background: url('../images/wpcampus-tile-BG-small.jpg') 0 -60px repeat;
				background-size: auto 400px;
				-webkit-filter: none;
			}
		}

		// Should be small up
		@media screen and (min-width: $small-up) {
			min-height: $wpc-hero-home-height-desktop;

			#wpc-hero-bg {

				&:before {
					background-image: url('../images/wpcampus-tile-BG.jpg');
					background-size: auto $wpc-hero-home-height-desktop;
				}
			}

			.inside {
				min-height: $wpc-hero-home-height-desktop;
				max-width: none;
			}

			.wpc-home-hero-text {
				padding: 80px 0;
				font-size: 3.8rem;
				line-height: 1.35;
				text-align: left;
				text-transform: uppercase;
				font-weight: 300;

				.digit {
					font-weight: 600;
				}

				.tagline {
					font-size: 1.75rem;
					line-height: 2;
					text-transform: none;
				}
			}
		}
	}
}