#wpc-main {
	background: #fff;
	min-height: 200px;
	padding: 40px 0 50px 0;

	.wpc-content {
		min-height: 1px;
	}

	.wpc-sidebar {
		min-height: 1px;
		margin: 3rem 0 0 0;
		padding: 2.6rem 0 0 0;
		border-top: 1px solid #eee;

		.widget-title {
			margin: 0 0 1rem 0;
		}

		ol, ul {
			margin-left: 0;

			li {
				display: block;
				list-style: none;
				margin: 0;
				padding: 0 !important;
			}
		}

		.widget {
			margin: $paragraph-margin-vert 0;

			.tribe-events-list-widget {

			}

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@media screen and (min-width: $medium-up) {

		body.has-sidebar & {

			.wpc-content {
				@include span-columns(9);
			}

			.wpc-sidebar {
				@include span-columns(3);
				margin: 0;
				border: 0;
				padding: 0;
			}
		}
	}
}