a {
	color: $wpc-royal-blue;
	text-decoration: underline;
}

h1 {
	font-size: 3.2rem;
	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;
}

p, ul {
	line-height: $paragraph-line-height;
	margin: $paragraph-margin-vert 0;
}

ul {

	&.column-two {
		margin-left: 2em;
		overflow: auto;

		li {
			display: inline-block;
			float: none;
			width: 100%;

			&:before {
				content: '-';
				font-weight: bold;
				padding: 0 8px 0 0;
				font-size: 1.1em;
				line-height: 1;
			}
		}
	}
}